
.searchBox .input-group {
    width: 50% !important;
}
.banner-area {
    background:url(../../images/banner.jpg) no-repeat center / cover;
    height: 100vh;
}
.banner-content h1 {
    font-size:50px;
}
