
.searchBox .input-group {
    width: 70% !important;
}
.searchBox .form-control {
    border: 1px solid transparent;

}
.banner-area {
    background:url(../../images/banner.jpg) no-repeat center / cover;
    height: 100vh;
}
.banner-content h1 {
    font-size:50px;
}
